<form method="post" action="/upload" enctype="multipart/form-data">
  
  <div class="form-group">
    <label for="exampleFormControlFile1"></label>
    <input type="file" class="form-control-file"  name="image">
  </div>
  <input type="submit" class="btn btn-primary">
   
</form>